<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>$title$</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    <link rel="author" href="http://chriswarbo.net" />
    $extra_head$
  </head>
  <body>
    <div id="header">
      <div id="navigation">
        <a href="/">              Home     </a>
        <a href="/contact.html">  Contact  </a>
        <a href="/blog.html">     Blog     </a>
        <a href="/projects.html"> Projects </a>
      </div>
    </div>

    <div class="$if(date)$ h-entry $endif$ $content_classes$" id="content">
      <h1 class="p-name">$title$</h1>

      $if(date)$
        <div class="info">
          Posted on <time class="dt-published" datetime="$date$">$date$</time>
          by
          <a class="p-author h-card" href="http://chriswarbo.net">
            Chris Warburton
          </a>
        </div>
      $endif$

      <!-- Don't indent body, in case its content is whitespace-sensitive -->
      <div $if(date)$ class="e-content" $endif$>
$body$
      </div>
    </div>
    <div id="footer">
      $if(path)$
        <div style="float: left">
          <a href="/git/chriswarbo-net/git/branches/master/$path$">
            View Source
          </a>
        </div>
      $endif$
      <div style="float: right">
        All content is Public Domain, unless stated otherwise
      </div>
    </div>
  </body>
</html>
